header {
  background-color: var(--color-primario);
}

header img {
  width: 180px;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 87.68px);
  background-color: var(--color-cuaternario);
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.iniciarBtn {
  display: flex;
  background-color: var(--color-primario);
  color: #fff;
  padding: 10px 20px;
  height: 82px;
  width: 240px;
  border-radius: 12px;
  font-size: 2rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.text-wrapper-3 {
  font-family: var(--titulo-2-font-family);
  font-weight: var(--titulo-2-font-weight);
  color: var(--gris);
  font-size: var(--titulo-2-font-size);
  text-align: center;
  letter-spacing: var(--titulo-2-letter-spacing);
  line-height: var(--titulo-2-line-height);
  font-style: var(--titulo-2-font-style);
}

.text-wrapper {
  width: 886px;
  font-family: var(--m-nima-font-family);
  font-weight: var(--m-nima-font-weight);
  color: var(--negro);
  font-size: var(--m-nima-font-size);
  text-align: center;
  letter-spacing: var(--m-nima-letter-spacing);
  line-height: var(--m-nima-line-height);
  font-style: var(--m-nima-font-style);
}

