:root {
  --color-primario: #1d2440;
  --color-secundario: rgba(155, 8, 0, 1);
  --color-terciario: #FF8154;
  --color-cuaternario: rgba(246, 154, 11, 1);
  --color-quintenario: #1d2440;
  --gris: rgba(219, 219, 219, 1);
  --negro: rgba(26, 23, 26, 1);
  --verde: rgb(157, 215, 148, 1);
  --verde-hoover: rgb(112, 251, 94);
  --titulo-1-font-family: "Roboto Mono", Helvetica;
  --titulo-1-font-weight: 400;
  --titulo-1-font-size: 40px;
  --titulo-1-letter-spacing: 0px;
  --titulo-1-line-height: normal;
  --titulo-1-font-style: normal;
  --titulo-2-font-family: "Roboto Mono", Helvetica;
  --titulo-2-font-weight: 400;
  --titulo-2-font-size: 36px;
  --titulo-2-letter-spacing: 0px;
  --titulo-2-line-height: normal;
  --titulo-2-font-style: normal;
  --normal-font-family: "Roboto Mono", Helvetica;
  --normal-font-weight: 400;
  --normal-font-size: 32px;
  --normal-letter-spacing: 0px;
  --normal-line-height: normal;
  --normal-font-style: normal;
  --m-nima-font-family: "Roboto Mono", Helvetica;
  --m-nima-font-weight: 400;
  --m-nima-font-size: 16px;
  --m-nima-letter-spacing: 0px;
  --m-nima-line-height: normal;
  --m-nima-font-style: normal;
  --titulo1-negrilla-font-family: "Roboto Mono", Helvetica;
  --titulo1-negrilla-font-weight: 700;
  --titulo1-negrilla-font-size: 40px;
  --titulo1-negrilla-letter-spacing: 0px;
  --titulo1-negrilla-line-height: normal;
  --titulo1-negrilla-font-style: normal;
  --titulo2-negrilla-font-family: "Roboto Mono", Helvetica;
  --titulo2-negrilla-font-weight: 700;
  --titulo2-negrilla-font-size: 36px;
  --titulo2-negrilla-letter-spacing: 0px;
  --titulo2-negrilla-line-height: normal;
  --titulo2-negrilla-font-style: normal;
  --normal-negrilla-font-family: "Roboto Mono", Helvetica;
  --normal-negrilla-font-weight: 700;
  --normal-negrilla-font-size: 32px;
  --normal-negrilla-letter-spacing: 0px;
  --normal-negrilla-line-height: normal;
  --normal-negrilla-font-style: normal;
  --m-nima-negrilla-font-family: "Roboto Mono", Helvetica;
  --m-nima-negrilla-font-weight: 700;
  --m-nima-negrilla-font-size: 14px;
  --m-nima-negrilla-letter-spacing: 0px;
  --m-nima-negrilla-line-height: normal;
  --m-nima-negrilla-font-style: normal;
  --variable-collection-blanco: rgba(255, 255, 255, 1);
  --variable-collection-afirmativo: rgba(157, 215, 148, 1);
  /* Agrega aquí variables adicionales específicas */
  --button-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
